body {
	background-color: lightgray; 
	color: rgb(8, 97, 27); 
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 20px;
}
a { color: rgb(38, 143, 56); }
h1, h2 { color: rgb(38, 143, 56); }

a { color: rgb(38, 143, 56); }

header, nav, main, footer {
	max-width: 900px;
	margin: 0 auto 1rem auto;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 1rem;
}

nav a {
	text-decoration: none;
	font-weight: bold;
}

h1, h2 { color: rgb(38, 143, 56); }
nav {
  position: sticky;
  top: 0;
  background-color: lightgray;
}
